<div id="<%= dom_id(api_token) %>">
  <%= api_token.token.truncate(10) %>
  <%= 'Active' if api_token.active %>
  <%= button_to 'Deactivate', api_token_path(api_token), method: :patch if api_token.active %>
  <% if api_token.last_used_at %>
    Last used:
    <%= time_ago_in_words(api_token.last_used_at) %>
    ago
  <% else %>
    Never used
  <% end %>
</div>
